/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 25px
}

h2 {
  margin-top: 30px;
  margin-left: 30px;
}

.top-content {
  margin: 20px 70px;
  font-size: 15px;
}

table {
  margin-left: 30px;
  border-collapse: separate;
}

tr {
  margin: auto;
}

th {
  font-size: 15px;
}

td {
  text-align: left;
  padding: 3px;
  font-size: 12px;
}

.form-box {
  display: flex;
  margin-left: 30px;
}

.form {
  margin-left: 30px;
  margin-top: 10px;
}

.form-title,.edit-title {
  display: inline-block;
  margin-left: 30px;
  font-size: 12px;
}

.show {
  display: flex;
  margin-top: 20px;
}

.show-index {
  margin-left: 60px;
  font-size: 12px;
}

.show-content {
  margin-left: 5px;
  font-size: 13px;
}

.link-box {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
}

.link-item {
  margin: 2px;
  font-size: 12px;
}

.flash {
  margin: 20px 60px;
  color: #008000;
  font-size: 12px;
}

.notice {
  margin: 20px 60px;
  color: #008000;
  font-size: 12px;
}

.errors-box {
  width: 500px;
  height: 120px;
  margin-left: 30px;
  border: 2px solid #ff0000;
  background-color: #f5f5f5;
}

.errors-index {
  color: #ffffff;
  background-color: #b22222;
  padding-left: 10px;
}

ul {
  margin: 30px 80px;
  background-color: #f5f5f5;
}

li {
  font-size: 12px;
}

.has-error .form-title {
  background-color: #ff0000;
}

.has-error .edit-title {
  background-color: #ff0000;
}

.has-error .form-box {
  display: table;  
  margin-left: 30px;
  padding: 2px;
  background-color: #ff0000;
}
